        /* learning how to use different fonts effects with https://developers.google.com/fonts/docs/getting_started?hl=it */ 

        body {
            text-align: center;
            font-family: 'Rancho', cursive;
            background-color: #0c0c0c;
            color: #dbd4d4;
            font-size: 1.8rem;
            background-image: radial-gradient(#ffffff18 1px, transparent 1px);
            background-size: 20px 20px;
        }

        input {
            border: 1px solid red;
            background-color: #0c0c0c;
            text-align: center;
            color: #dbd4d4;
            padding: 10px 15px;
            font-size: 1.4rem;
        }

        .highlight {
            color: #db1f06;
            font-size: 45px;
        }
        .comparasionText {
            color: #35b831;
        }
        .comparasionHours {
            color: #b80a0a;
            
        }        

        #calculateTheTime {
            padding: 10px 10px;
        }

        #results {
            border: 1px solid #a0a77a;
            font-size: 1.5rem;
            max-width: 700px;
            margin: 20px auto;
            padding: 15px;
        }

        #alert {
            color: #3d3d3d;
            font-size: 1rem;
            margin-top: 10px;
        }

        button {
            letter-spacing: 5px;
            background: #ee0606;
            color: #0a0a0a;
            border: none;
            font-size: 1.5rem;
            padding: 10px, 30px;
            margin-top: 20px;
            cursor: pointer;
            
        }

        #wastedTimeArea{
            text-align: left;
            position: fixed;
            top: 20px;
            left: 20px;
        }